<form class="ui form" {{action "submit" on="submit"}}>
  <div class="fields">
    <div class="twelve wide field">
      {{input type='text' value=value placeholder=placeholder autocomplete='off'}}
    </div>
    <div class="four wide field">
      <button type="submit" class="ui primary fluid button">Send It!</button>
    </div>
  </div>
</form>
