{{chat-messages messages=messages}}
<div class="ui divider"></div>

{{#if error}}
  <div class="ui negative message">
    <p>{{error}}</p>
  </div>
{{/if}}

{{repl-input placeholder="Your message please" onsubmit=(action "sendMessage")}}
